body {
    padding: 40px;
    font-family: 'Microsoft JhengHei';
    h1,
    h2 {
        color: 444;
    }
    #video-container {
        width: 400px;
        height: 300px;
    }
    .video-side {
        float: left;
        margin-right: 40px;
    }
    .lyric-side {
        float: left;
        margin-top: -80px;
    }
}